 @import "tailwindcss";
*{
    background-color: #cfc5a9;
}
.heading{
    background-color:#555879;
}

.input{
    background-color: white;
}
.add{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.add:hover{
    border: solid 1px black;
}
.task{
    background-color: #98A1BC;
    padding: 5px;
    border: solid 1px black;
    margin-right: 4px;
}
.dlt {
    padding:2px;
    margin: 2px;
    background-color: rgb(134, 12, 12);
    color: wheat;
}
.up{
     padding:2px;
      margin: 2px;
}
.down{ padding:2px;
 margin: 2px;}